<%#  展示指定文章详情页面%>
<div  class="articleDetail">
    <h3>我是文章详情页面</h3>
    <p class="articleDetail_title">
        <span>author:xxxxx</span>
        <span>date:xxxxxx</span>
    </p>
    <div>
        xxxxx
    </div>
    <span class="theGoBack">
        返回
    </span>
</div>