<%# 文章编辑页展示  %>
    <div class="edit-container">
        <h3>文章发布页面</h3>
        <div class="author">
            <p>author:</p>
            <span>xxxx</span>
        </div>
        <div class="title">
            <p>标题:</p>
            <input type="text" placeholder="xxxx" id="articleTitle">
        </div>
        <div>
            <p>正文:</p>
            <textarea name=""  cols="30" rows="10" placeholder="xxxx" id="articleContent"></textarea>
        </div>
        <button>
            发表
        </button>
        <div class="goBack">
            返回
        </div>
    </div>