<%#  展示用户主页模块%>
    <ul class="ulTabs">
        <li>注册</li>
        <li>登录</li>
        <li class="chosen">文章列表</li>
        <li>个人信息</li>
        <li>文章编辑</li>
        <li>
            <div class="theFuncList">
                <p>更多···</p>
                <p>编辑(markdown)</p>
                <p>删除</p>
                <p>留言</p>
            </div>
        </li>
    </ul>
    <div class="container">
        <div class="left">Article Shows</div>
        <div class="theArticle_list">
            <ul>
                
            </ul>
        </div>
    </div>