<%# 登录页面html代码 %>
<form action="" class="log-form">
    <h3>登录页面</h3>
    <label for="">
        <span>用户名：</span>
        <input type="text" id="userName" placeholder="请输入用户名" autocomplete="off" autofocus="autofocus" required>
    </label>
    <label for="">
        <span>密码：</span>
        <input type="password" id="userPassword" placeholder="请输入密码"  autocomplete="off" required>
    </label>
    <button type="submit" id="userSubmit">登录</button>
    <div class="goBack">
        返回
    </div>
</form>