<%# 文章编辑页(markdown)展示  %>
    <div class="theEdit_Box">
        <h3>文章发布页面(markdown)</h3>
        <div class="author">
            <p>author:</p>
            <span>xxxx</span>
        </div>
        <div class="title">
            <p>标题:</p>
            <input type="text" placeholder="xxxx" id="articleTitle">
        </div>
        <div>
            <p>正文:详细语法请参考下面的链接 <a href="https://www.appinn.com/markdown/index.html" class="theLink" target="_blank">https://www.appinn.com/markdown/index.html</a></p>
            
            <textarea name=""  cols="30" rows="10" placeholder="" id="articleContent" ></textarea>
        </div>
        <button>
            发表
        </button>
        <div class="goBack">
            返回
        </div>
    </div>