<%# 注册页面html代码 %>
<form action="" class="reg-form">
    <h3>注册界面</h3>
    <label for="">
        <span>用户名：</span>
        <input type="text" id="username" placeholder="请输入用户名" required autocomplete="off" autofocus="">
        <p class=""></p>
    </label>
    <label for="" class="user info">
        <span></span>
        <div></div>
    </label>
    <label for="">
        <span>密码：</span>
        <input type="password" id="userpword"  placeholder="请输入密码"  autocomplete="off" required>
        <p class=""></p>
    </label>
    <label for="">
        <span>手机号：</span>
        <input type="text" id="userphnumber" autocomplete="off"   placeholder="请输入手机号"required>
        <p class=""></p>
    </label>
    <div type="submit" id="userSubmit">
        注册
    </div>
    <div class="goBack">
        返回
    </div>
</form>