<%# 展示用户信息模块 %>
<div class="userCon">
    <div class="upLoadCon">
        <header>上传头像</header>
        <form action="" method="" >
            <div class="imgBox">
                <img src="/images/a.jpg" alt="">
            </div>
            <div class="file">
                <input type="file" name="headimg" required>点击这里上传文件
            </div>
            <button type="submit" class="btn">上传</button>
            <span id="progress">0</span>
        </form>
    </div>

    <ul class="user-info">
        <li>
            <span>用户名:</span>
            <p>
                <%= username %>
            </p>
        </li>
        <li>
            <span>手机号:</span>
            <p>
                <%= phone %>
            </p>
        </li>
    </ul>
    <div class="goBack">
        返回
    </div>
</div>